@import 'styles/variables';

.category {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
  padding: 15px 20px;
  background-color: $bad-white;
  border-radius: 15px;
  width: fit-content;

  &__name {
    font-size: 15px;
    color: $black;
  }
  &__type {
    font-size: 10px;
    color: $gray-main;
  }
  &__closeIcon {
    position: absolute;
    top: 5%;
    right: 0;
    cursor: pointer;
  }
}
