@import "styles/variables";

.popupMore {
  top: 132%;
  right: 0;
  position: absolute;
  z-index: 444;
  width: 23rem;
  min-height: 50rem;
  padding: 2rem 3rem 1rem 3rem;
  border-radius: 0 0 0 1.5rem;
  background-color: #212327;

  &_close {
    display: none;
    // transform: translateX(100%);
  }


  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;    
  }

  &__item {
    font-size: 1.4rem;
    color: $white;
    &:hover{
      cursor: pointer;
      color: $red-main;
    }
  }
}