@import 'styles/variables';

.moreBtn {
  display: flex;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    svg {
      fill: $red-main;
    }

    .moreBtn__text {
      color: $red-main;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
}

.rotateArrow {
  transform: scale(-1);
}

.popupMore {
  top: 100%;
  right: 20px;
  position: absolute;
  width: 230px;
  min-height: 500px;
  padding: 20px 30px 10px 30px;
  border-radius: 0 0 15px 15px;
  background-color: $black;
  transition: all 0.15s ease-in-out;
  z-index: 10;

  &_close {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(-150%);
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__item {
    font-size: 14px;
    color: $white;

    &:hover {
      cursor: pointer;
      color: $red-main;
    }
  }
}
