@import 'styles/variables';

.rotateArrow {
  transform: rotate(180deg);
}

// .relativeBox{
//   position: relative;
// }

.moreBtn {
  display: flex;
  position: relative;
  transition: all 0.3s ease-in-out;

  &:hover {
    cursor: pointer;

    svg {
      fill: $red-main;
    }

    .moreBtn__text {
      color: $red-main;
    }
  }

  &__icon {
    fill: $white;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: $white;
  }
}

.popupMore {
  top: 100%;
  right: 20px;
  position: absolute;
  width: 230px;
  min-height: 500px;
  padding: 20px 30px 10px 30px;
  border-radius: 0 0 0 15px;
  background-color: #212327;
  transition: all 0.2s ease-in-out;

  &_close {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(-150%);
  }

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__item {
    font-size: 14px;
    color: $white;

    &:hover {
      cursor: pointer;
      color: $red-main;
    }
  }
}
