@import 'styles/variables';

.signin {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: $white;
  padding: 100px;
}

.gif {
  border-radius: 15px;
  overflow: hidden;
  width: 450px;
  height: 250px;
  background: url('/assets/totoro.webp');
}

.formWrapper {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    padding: 25px;
    min-width: 320px;
    height: 40%;
    min-height: 350px;
  }
}

.inputWrapper {
  position: relative;
  margin-top: 10px;
  padding: 15px 20px;
  .input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid rgba(65, 62, 62, 0.55);
    background: transparent;
    padding: 7px 0;
    width: 100%;
    color: #383636;
    font-size: 16px;
    &::placeholder {
      color: transparent;
    }
    &:placeholder-shown ~ .inputLabel {
      top: 20px;
      cursor: text;
      font-size: 16px;
    }
  }
  .inputLabel {
    display: block;
    position: absolute;
    top: 0;
    transition: 0.2s;
    color: rgba(75, 72, 72, 0.62);
    font-size: 12px;
    user-select: none;
  }
}

.inputLabel:focus {
  border-width: 3px;
  padding-bottom: 6px;
  font-weight: 700;
  ~ .inputLabel {
    display: block;
    position: absolute;
    top: 0;
    transition: 0.2s;
    font-weight: 700;
    font-size: 10px;
  }
}

.inputError {
  border-color: $red-main;
}

.error {
  color: rgba(161, 15, 15, 0.81);
  font-weight: 400;
  font-size: 10px;
}

.signInBtn {
  align-self: center;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background-color: $blue-main;
  padding: 6px 15px;
  color: $white;
  font-weight: 500;
  font-size: 16px;
  &:hover {
    background-color: $blue-light;
  }
  &:active {
    background-color: $blue-main;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: $gray-main;
    pointer-events: none;
  }
}

.magicButton {
  align-self: center;
}
