@import 'styles/variables';

.groupWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupTitle {
  font-size: 16px;
  font-weight: 700;
  display: block;
}

.groupItems {
  display: flex;
  align-items: center;
}
