@import 'styles/variables';

.adminLayout {
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 230px 4fr;
  grid-template-rows: 60px 1fr;
  gap: 0px 0px;
  font-size: 20px;
  grid-template-areas:
    'header header .'
    'navigation main .'
    '. . .';
  main {
    grid-area: main;
    padding-right: 10px;
    padding-left: 90px;
    margin-top: 20px;
  }
  header {
    grid-area: header;
  }

  nav {
    grid-area: navigation;
    padding-left: 10px;
    margin-top: 20px;
  }
}

.publicLayout {
  width: 100%;
}
