@import 'styles/variables';

.cardBanner {
  padding: 20px;
  background-color: $bad-white;
  max-height: 220px;
  height: 220px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  position: relative;
}

.img {
  border-radius: 8px;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

  &__calendar {
    margin-right: 25px;
  }

  &__name {
    background-color: $white;
    border: 1px solid $gray-main;
    border-radius: 15px;
    padding: 20px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 30px;
    height: 60px;
    max-height: 60px;
  }

  &__labelWrapper {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 10px;
    font-weight: 700;
    color: $gray-main;
    font-size: 15px;
  }

  &__delayInput {
    background-color: $white;
    border: 1px solid $gray-main;
    border-radius: 15px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
    max-width: 150px;
    height: 60px;
    max-height: 60px;
  }

  &__calendarAndDelay {
    display: flex;
    flex-shrink: 1;
  }

  &__buttons {
    margin-left: auto;
    display: flex;
    gap: 20px;
  }
}

.grab {
  cursor: move;
}

.htmlCard {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  flex-wrap: wrap;
  padding: 15px;
  max-height: 220px;
  height: 220px;
  border-radius: 15px;
  background-color: $gray-main;

  &__buttons {
    z-index: 10;
    margin-left: auto;
    display: flex;
  }
}

.open {
  display: flex;
}

.textarea {
  z-index: 10;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 15px;
  color: $green-main;
  background-color: $black;
}
