@import 'styles/variables';

.footer{
    &__app{
        background-color: #E03638;
        position: relative;
        z-index: 5;
        padding: 15px 0;
        &:hover .footer__appPhone {
            transform: translateY(-30px);
            @include nlg{
                transform: translateY(-13px);
            }
            @include nsm{
                transform: none;
            }
        }
    }
    &__appWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &__appText{
        position: relative;
        max-width: 285px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        > p {
            position: absolute;
            right: 0;
            bottom: 0;
      
            font-style: normal;
            font-weight: 500;
            font-size: 13.2558px;
      
            color: #000000;
            @include nlg {
              font-size: 1vw;
            }
            @include nsm {
              position: relative;
              right: unset;
              bottom: unset;
      
              margin: 5vw auto 7vw;
              width: max-content;
      
              font-size: 4vw;
            }
      
            > span {
              position: absolute;
              bottom: 70%;
              right: -10%;
      
              padding: 1px;
      
              font-style: normal;
              font-weight: 900;
              font-size: 6.29651px;
              color: #FFFFFF;
      
              background: #181818;
              transform: rotate(11.73deg);
              @include nlg {
                font-size: .5vw;
              }
              @include nsm {
                padding: 2vw 1vw;
                line-height: 0;
                font-size: 2vw;
              }
            }
          }
    }
    &__appPhone{
        position: relative;
        align-self: flex-end;
        width: 430px;
        margin-bottom: -70px;
        transition: all .5s ease;

        @include nlgx {
        width: 340px;
        margin-bottom: -30px;
        }
        @include nlg {
        width: 26vw;
        margin-bottom: -15px;
        }
        @include nsm {
        order: 1;
        position: unset;

        margin: 0 auto;
        width: 75%;
        margin-bottom: 0px;
        }

         img {
            position: absolute;
            left: 0;
            bottom: -15px; /*wrapper's padding*/
            width: 100%;
            height: auto;
            @include nlg {
                bottom: -1.2vw;
            }
            @include nsm {
                bottom: calc(100% + 2px); /* + border */
                left: 50%;
                transform: translateX(-50%);
                width: 75%;
            }
        }

    }

    &__footerPublic{
        position: relative;
        background: #181818;
        padding: 80px 0;
        z-index: 10;
    }

    &__appPointsWrapper{
        max-width: 274px;
        @include nlg {
          max-width: 22vw;
        }
        @include nsm {
          order: 4;
          max-width: unset;
        }
    }

    &__appPoints{
        background: #181818;
        border-radius: 15px;
        padding: 10px 20px;
    
        font-style: normal;
        font-weight: 600;
        font-size: 19.0392px;
        line-height: 129%;
    
        color: #FFFFFF;
        @include nlg {
          padding: 0.7vw 1.4vw;
          text-align: center;
          font-size: 1.6vw;
        }
        @include nsm {
          padding: 4vw 6vw;
    
          text-align: center;
          font-size: 6vw;
        }
    
        span {
          display: block;
          font-style: normal;
          font-weight: 400;
          font-size: 16.8448px;
          line-height: 129%;
    
          color: #FFFFFF;
          @include nlg {
            text-align: center;
            font-size: 1.4vw;
          }
          @include nsm {
            text-align: center;
            font-size: 5vw;
          }
        }
    }

    &__appPointsDescrip{
        margin-top: 0.8em;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
        @include nlg {
          font-size: 1.1vw;
        }
        @include nsm {
          display: none;
        }
    }

    &__appDownloadWrapper{
        column-gap: 10px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        @include nlgx {
          column-gap: 70px;
        }
        @include nlg {
          column-gap: 1.1vw;
        }
        @include nsm {
          display: none;
        }
    
        svg {
          width: 100px;
          height: auto;
          background: white;
          @include nlg {
            width: 7.5vw;
          }
        }
    }

    &__appSvgFooter{
        width: 100px;
        height: 100px;
        background: white;
        @include nlg {
          width: 7.5vw;
          height: auto;
        }
    }

    &__appLinkWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        @include nlgx {
          flex-direction: column;
          align-items: center;
          column-gap: 16px;
        }
    
        a { 
            img {
            cursor: pointer;
            width: 160px;
                @include nlg {
                    width: 12vw;
                }
            }
        }
    }

    &__svg {
      width: .8em;
      height: auto;
    }

}
