@import 'styles/variables';

.tabs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 1fr;
  gap: 0px 0px;
  width: 100%;

  &__list {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
    gap: 60px;
    padding: 20px;
    border: 1px solid $gray-light;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}

.tabPanelWrapper {
  border-left: 1px solid $gray-light;
  border-right: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
}

.loader {
  height: 50px;
  border-radius: 8px;
  cursor: default;
}

.loaderPanel {
  height: 100px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
