@import "styles/variables";

.rotateArrow {
  transform: rotate(180deg);
}

.hide {
  display: none;
}

.hoverColor {
  transition: all 0.15s ease-in-out;

  &:hover {
    color: $red-main;
  }
}

.relativeBox {
  position: relative;
}

.popup {
  position: absolute;
  z-index: 444;
  transition: all 0.2s ease;

  &_close {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}

.popupWrapper {
  padding-top: 15px;
}

.publicHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 333;

  &__navigationBox {
    width: 100%;
    background-color: $totally-black;
    padding: 0 20px;
    display: flex;
    justify-content: center;

    @include nlg {
      padding: 0 10px;
    }

    @include nsm {
      display: none;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    column-gap: 20px;
    height: 80px;
    padding: 0 20px;
    max-width: 1880px;
    width: 100%;
    background-color: $black;

    z-index: 333;

    @include max_desktop {
      column-gap: 15px;
    }

    @include nlg {
      padding: 0 10px;
      column-gap: 10px;
    }

    @include nsm {
      height: 12.5vw;
    }
  }

  &__catalog {
    @include nlgs {
      display: none;
    }
  }

  &__logo {
    width: 210px;
    height: 45px;

    @include max_desktop {
      width: 200px;
    }

    @include nmd {
      width: 16vw;
    }

    @include nsm {
      width: 25vw;
    }
  }

  &__giftsBtn {
    @include nlgs {
      display: none !important;
    }
  }

  &__searchBox {
    position: relative;
    flex: 1;

    @include nlgs {
      min-width: 280px;
    }

    @include nsm {
      display: none;
    }
  }

  &__search {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border-radius: 15px;
    background-color: $gray-matt-black;

    color: $gray-main;
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;

    &:hover {
      cursor: pointer;
    }
  }

  &__searchIconWrapper {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) !important;

    svg {
      fill: #fff;
    }
  }
}

.popupYourCity {
  display: flex;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;

    svg {
      fill: $red-main;
    }

    .popupYourCity__text {
      color: $red-main;
    }
  }

  &__text {
    color: $white;
    font-size: 14px;
    font-weight: 300;
    line-height: 160%;
  }

  &__popup {
    width: 600px;
    // height: 1350px;
    padding: 20px 0 35px;
    top: 132%;
    left: -20px;
    background-color: $white;

    border-radius: 0 0 15px 0;

    &_close {
      transform: translateX(-100%);
    }
  }

  &__list {
    display: grid;
    // flex-flow: column wrap;
    grid-template-columns: 1fr 2fr;
    padding: 0 25px;
    max-height: 84vh;
    row-gap: 15px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: $bad-white;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: $gray-main;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: $gray-dark;
    }
  }

  &__item {
    width: 220px;
    font-weight: 300;
    font-size: 18px;
    color: $black;
  }
}

.imgArrow {
  fill: $white;
  transition: all 0.2s ease-in-out;
}

.IconLocation {
  fill: $white;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1880px;
  width: 100%;
  height: 40px;

  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: $white;
  }

  &__moreBox {
    display: flex;
    position: relative;

    &:hover {
      cursor: pointer;

      svg {
        fill: $red-main;
      }

      .navigation__more {
        color: $red-main;
      }
    }
  }

  &__more {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: $white;
  }

  &__popup {
    top: 132%;
    right: 0;
    width: 230px;
    min-height: 500px;
    padding: 20px 30px 10px 30px;
    border-radius: 0 0 0 15px;
    background-color: #212327;

    &_close {
      display: none;
      // transform: translateX(100%);
    }
  }

  &__popupList {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  &__item {
    font-size: 14px;
    color: $white;
  }
}

.mobBtnContainer {
  display: none;

  @include nsm {
    display: flex;
    column-gap: 3vw;
  }

  &__btnDropDown {
    padding: 0;
    width: 9.5vw;
    height: 9.5vw;
    column-gap: unset;

    &:hover {
      div {
        rotate: unset;
      }
    }

    svg {
      // object-position: center;
      fill: $white;
    }
  }
}

.btnCatalog {
  width: 185px;
  height: 45px;

  &:hover {
    div {
      rotate: unset;
    }
  }

  @include max_desktop {
    width: 170px;
  }

  @include nlg {
    width: 155px;
  }

  @include nlgs {
    width: 185px;
    height: 50px;
    grid-area: catalog;
  }

  @include nsm {
    width: 47vw;
    height: 14.1vw;
  }
}

.btnGifts {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 50px;
  border-radius: 15px;
  border: 2px solid #ffd87c;
  background: linear-gradient(91deg,
      #262626 12.94%,
      #363636 53.61%,
      #202020 94.74%);
  box-shadow: 0px 0px 14px 0px #000 inset;
  position: relative;
  color: #ffd674;

  @include max_desktop {
    width: 180px;
  }

  @include nlg {
    width: 145px;
  }

  @include nlgs {
    width: 270px;
  }

  @include nsm {
    width: 96%;
    height: 14.1vw;
    max-height: 65px;
  }

  &__text {
    text-align: center;
    text-shadow: 0px 4px 4px #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;

    @include nlg {
      font-size: 18px;
    }
  }

  &__imgBox {
    width: 40px;
    height: 40px;
    margin-right: 15px;

    @include max_desktop {
      margin-right: 5px;
    }

    @include nlg {
      display: none;
    }

    @include nlgs {
      display: flex;
    }
  }

  &__imgGlareWrapper {
    position: absolute;
    width: 30px;
    height: 30px;

    &_1 {
      top: -10px;
      left: 32px;
      z-index: 22;
      animation: glare 3s infinite ease;
    }

    &_2 {
      right: 12px;
      top: 2px;
      animation: glare 3s infinite ease;
      animation-delay: 3s;
    }
  }
}

.userPanel {
  display: flex;
  column-gap: 20px;

  @include max_desktop {
    column-gap: 15px;
  }

  @include nlg {
    column-gap: 10px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    width: 50px;
    height: 50px;
    max-height: unset;
    border-radius: 15px;
    background-color: $gray-matt-black;

    &:hover {
      background-color: $red-main;
    }

    @include nsm {
      background-color: $black;

      &:hover {
        background-color: unset;
      }
    }

    @include nsm {
      width: 7.8vw;
      height: 7.8vw;
    }

    &_whatsapp {
      background-color: $green-light;

      svg {
        width: 35px;
        height: 35px;
        object-fit: contain;

        @include nsm {
          path {
            fill: $green-light;
          }
        }

        ellipse {
          fill: transparent;
        }

        @include nsm {
          width: 5.6vw;
          height: 6.3vw;
        }
      }

      @include nsm {
        background-color: unset;
      }
    }
  }

  &__iconWrapper {
    width: 27px;
    object-fit: contain;

    &_whatsapp {
      width: 30px;
    }

    svg {
      fill: $white;
    }

    @include nlg {
      width: 7.8vw;
    }
  }

  &__counter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
    right: -2px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $red-main;

    color: $white;
    font-size: 8.615px;
    font-weight: 600;
    line-height: 160%;

    @include nsm {
      display: none;
    }
  }

  &__name {
    color: $white;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
  }

  &__enter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 50px;
    border-radius: 15px;
    background-color: $white;

    color: $black;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__iconEnter {
    margin-right: 10px;

    svg {
      fill: $black;
    }
  }
}

.mobileNav {
  display: none;

  @include nlgs {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 0 50px;
    background-color: $black;
    width: 100%;
  }

  @include nsm {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 1fr;
    padding: 2.5% 0;
    gap: 2.5vw 0;
    grid-template-areas:
      "popular catalog"
      "gifts gifts";
  }

  &__catalog {
    @include nlgs {
      grid-area: catalog;
    }
  }

  &__popularBtn {
    height: 50px;
    grid-area: popular;

    @include nsm {
      width: 47vw;
      height: 14.1vw;
    }
  }

  &__gifts {
    @include nlgs {
      grid-area: gifts;
    }
  }
}

@keyframes glare {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(60deg);
  }
}

.popupSupport {
  top: 100%;
  right: -220px;
  z-index: 333;
  padding-top: 15px;

  &__wrapper {
    display: flex;
    width: 585px;
    background-color: $white;
    border-radius: 15px;
    height: 410px;
    padding: 14px 13px;
    column-gap: 13px;

  }

  &_close {
    // transform: translateX(100%);
    z-index: -1;
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    height: 382px;

    &_left {
      padding: 13px 10px 18px;
      width: 298px;
      background-color: $bad-white;
    }

    &_right {
      padding: 13px 15px 23px;
      width: 248px;
      background-color: $black;
    }
  }

  &__titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
  }

  &__iconSupportWrapper {
    width: 12px;
    height: 16px;
    min-width: unset;
    min-height: unset;
    margin-right: 8px;

    svg {
      width: 100%;
      fill: $red-main;
    }
  }

  &__title {
    color: $black;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;

    font-size: 20.95px;

    &_support {
      color: $black;
      font-weight: 700;
    }

    &_center {
      font-weight: 400;
      color: $white;
    }
  }

  &__boxNumber {
    display: flex;
    align-items: center;
    column-gap: 10px;

    &_top {
      margin-bottom: 5px;
    }

    &_bottom {
      margin-bottom: 15px;
    }
  }

  &__number {
    color: $black;
    font-size: 22.194px;
    font-weight: 700;

    &_white {
      width: 100%;
      color: $white;
      margin-bottom: 25px;
    }
  }

  &__text {
    color: $black;
    font-size: 12.684px;
    font-weight: 400;
    line-height: 125%;

    &_underline {
      text-decoration: underline;
    }

    &_white {
      color: $white;
    }
  }

  &__subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    width: 136px;
    height: 25px;
    margin-bottom: 24px;
    padding: 4px;
    background-color: $gray-dark;

    color: $white;
    font-size: 12.684px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__popupBtn {
    width: 100%;
    height: 50px;

    &:hover {
      svg {
        transform: unset;
      }
    }
  }

  &__callBack {
    margin-bottom: 12px;
  }

  &__videoConsultation {
    margin-bottom: 20px;
  }

  &__iconCenterWrapper {
    width: 20px;
    height: 15px;
    margin-right: 12px;

    svg {
      fill: $white;
    }
  }

  &__listWorkingHours {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    margin-bottom: 25px;
  }

  &__itemWorkingHours {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  &__itemText {
    color: $white;
    font-size: 18px;
    font-weight: 400;

    &_day {
      width: 40px;
    }

    &_weight {
      font-weight: 700;
    }
  }
}

.catalogPopup {
  display: flex;
  min-width: 905px;
  height: 640px;
  top: 100%;
  left: 0;
  z-index: 1111;

  &_close {
    transform: translateY(-100%);
  }

  &__box {
    display: flex;
    flex-direction: column;

    &_left {
      align-items: center;
      width: 455px;
      padding: 15px 0 25px 20px;
      background-color: $bad-white;
      border-radius: 0 0 0 15px;
    }

    &_right {
      min-width: 600px;
      background-color: $white;
      padding: 15px 18px 24px;
      border-radius: 0 0 15px 0;
    }
  }

  &__topImgBox {
    width: 100%;
    display: flex;
    margin-bottom: 35px;
    column-gap: 20px;
  }

  &__imgContainer {
    position: relative;
    width: 125px;
    height: 125px;
    overflow: hidden;
    border-radius: 15px;
  }

  &__textImg {
    position: absolute;
    top: 10px;
    left: 15px;

    color: $totally-black;
    font-size: 12.887px;
    font-weight: 500;
    line-height: 124%;

    &_white {
      color: $white;
    }
  }

  &__globalCategoriesBox {
    width: 100%;
  }

  &__globalCategories {
    display: flex;
    align-items: center;
    padding-left: 15px;
    width: 100%;
    height: 47px;
    border-radius: 15px 0 0 15px;

    &:hover {
      cursor: pointer;
      background-color: $white;

      svg {
        fill: $white;
      }
    }
  }

  &__iconWrapper {
    width: 45px;
    height: 45px;
    margin-right: 15px;

    svg {
      fill: $bad-white;
    }
  }

  &__title {
    color: $totally-black;
    font-size: 18px;
    font-weight: 500;
    line-height: 260%;
  }

  &__imgCategory {
    position: relative;
    width: 415px;
    height: 125px;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 25px;
  }

  &__CategoryImg {
    width: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__nameCategory {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 120px;

    color: $gray-matt-black;
    font-size: 18.332px;
    font-weight: 500;
    line-height: 124%;

    &_colorWhite {
      color: $white;
    }
  }

  &__linkCategory {
    position: absolute;
    bottom: 15px;
    left: 20px;

    color: $gray-matt-black;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 124%;
    text-decoration-line: underline !important;

    &_colorWhite {
      color: $white;
    }
  }

  &__listSubcategories {
    display: flex;
    flex-flow: column wrap;
    height: 460px;
    padding-left: 5px;
    gap: 20px 10px;
  }

  &__subcategory {
    display: flex;
    align-items: center;
    width: 245px;
  }

  &__titleSubcategories {
    color: $totally-black;
    font-size: 18px;
    font-weight: 400;
    &:hover {
      cursor: pointer;
      color: $red-main;
    }
  }


}

.popupProfile {
  padding-top: 15px;
  top: 82%;
  right: 20px;

  &__popupProfileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    min-height: 590px;
    border-radius: 15px;
    background-color: $white;
    padding: 15px 20px 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid $bad-white;

    &:last-child {
      border: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__link {
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    column-gap: 15px;

    &:hover {
      cursor: pointer;

      .popupProfile__text {
        color: $red-main;
      }

      svg {
        fill: $red-main;
      }
    }
  }

  &__iconWrapper {
    width: 35px;
    height: 35px;

    svg {
      width: 25px;
      height: 25px;
      fill: $gray-matt-black;
    }

    &_logo {
      svg {
        fill: $red-main;
      }
    }
  }


  &__text {
    color: $black;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;

    &_weight {
      width: 100%;

      font-weight: 600;
    }

    &_phone {
      width: 100%;
      margin-bottom: 20px;

      font-size: 12px;
    }

    &_color {
      color: $gray-main;
    }

  }

  &__ballBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    padding: 0 10px 0 5px;
    max-width: 130px;
    height: 30px;
    background-color: #9419ff;
    border-radius: 7px;
  }

  &__ballQuantity {
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
  }

  &__ballIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;

    svg {
      ellipse {
        fill: $white;
      }

      path {
        fill: #9419ff;
      }
    }
  }
}