@import 'styles/variables';

.footer{
    &__top{
        background-color: #E03638;
        position: relative;
        z-index: 5;
        padding: 15px 0;
    }
    &__topWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &__topText{
        position: relative;
        max-width: 285px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        > p {
            position: absolute;
            right: 0;
            bottom: 0;
      
            font-style: normal;
            font-weight: 500;
            font-size: 13.2558px;
      
            color: #000000;
            @include nlg {
              font-size: 1vw;
            }
            @include nsm {
              position: relative;
              right: unset;
              bottom: unset;
      
              margin: 5vw auto 7vw;
              width: max-content;
      
              font-size: 4vw;
            }
      
            > span {
              position: absolute;
              bottom: 70%;
              right: -10%;
      
              padding: 1px;
      
              font-style: normal;
              font-weight: 900;
              font-size: 6.29651px;
              color: #FFFFFF;
      
              background: #181818;
              transform: rotate(11.73deg);
              @include nlg {
                font-size: .5vw;
              }
              @include nsm {
                padding: 2vw 1vw;
                line-height: 0;
                font-size: 2vw;
              }
            }
          }
    }
    &__topPhone{
        position: relative;
        align-self: flex-end;
        width: 340px;
        height: 100%;
        margin-bottom: -30px;
        transition: all .5s ease;

        @include nlgx {
        width: 430px;
        margin-bottom: -70px;
        }
        @include nlg {
        width: 26vw;
        margin-bottom: -15px;
        }
        @include nsm {
        order: 1;
        position: unset;

        margin: 0 auto;
        width: 75%;
        margin-bottom: 0px;
        }

        > img {
            position: absolute;
            left: 0;
            bottom: -15px; /*wrapper's padding*/
            width: 100%;
            height: auto;
            @include nlg {
                bottom: -1.2vw;
            }
            @include nsm {
                bottom: calc(100% + 2px); /* + border */
                left: 50%;
                transform: translateX(-50%);
                width: 75%;
            }
        }

    }

    &:hover &__topPhone {
        margin-bottom: 0;
    }
}