@import 'styles/variables';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: fit-content;
  gap: 10px;
  height: 60px;
  max-height: 60px;
  cursor: pointer;
  &:active {
    scale: 0.9;
  }
  &:hover {
    div {
      rotate: 90deg;
    }
  }
}

.labelClassName {
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
}

// COLOR VARIANTS
.color {
  &_grayDark {
    background-color: $gray-dark;
    color: $white;
  }

  &_gray {
    background-color: $gray-main;
    color: $white;
  }

  &_blue {
    background-color: $blue-main;
    color: $white;
  }

  &_red {
    background-color: $red-main;
    color: $white;
  }

  &_black {
    background-color: $black;
    color: $green-main;
  }

  &_grayMattBlack {
    background-color: $gray-matt-black;
    color: $white;
  }

  &_transparent {
    background-color: transparent;
    color: $white;
  }

  &_transparentGray {
    background-color: transparent;
    color: $gray-main;
  }

  &_transparentBlue {
    background-color: transparent;
    color: $blue-main;
  }

  &_transparentRed {
    background-color: transparent;
    color: $red-main;
  }

  &_blackWhite {
    background-color: $black;
    color: $white;
  }
}

// PADDING VARIANTS
.padding {
  &_slim {
    padding: 5px 20px;
    height: 30px;
    max-height: 30px;
    border-radius: 8px;
  }

  &_wide {
    padding: 20px;
  }
}
