@import 'styles/variables';

.columnVisibilityWrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-bottom: 1px solid $gray-light;
}

.checkboxGroupHeader {
  font-size: 14px;
  font-weight: 700;
  color: $gray-main;
  margin-bottom: 10px;
}

.labelClassName {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
