@import 'styles/variables';

.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: #292929;
  border-radius: 20px;
  max-width: 260px;
  gap: 10px;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 20px;
  color: $white;
}

.priceOld {
  font-size: 16px;
  color: $gray-main;
  text-decoration: line-through;
  text-decoration-color: red;
}

.name {
  font-size: 14px;
  color: $gray-main;
}

.description {
  font-size: 18px;
  color: $white;
}
