@import 'styles/variables';

.table {
  width: 100%;
}
.table th {
  padding-bottom: 20px;
  font-weight: bold;
  text-align: left;
  padding-left: 8px;
  font-size: 18px;
}
.table td {
  text-align: left;
}
.table tbody tr td {
  padding: 8px;
}

.th {
  &__checkbox {
    width: 5%;
  }
  &__id {
    width: 50%;
  }
  &__price {
    width: 5%;
  }
  &__sale {
    width: 5%;
  }
  &__preorder {
    width: 5%;
  }
}

.nameCell {
  width: 220px;
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
  max-width: 220px;
}

.inputPrice {
  padding: 20px 30px;
  border: 1px solid $gray-main;
  border-radius: 15px;
  max-width: 150px;
}
