@import 'styles/variables';

.item {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-bottom: 10px;
  cursor: pointer;

  &__subItem {
    padding-left: 15px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
  &__title {
    color: $black;
    white-space: nowrap;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
  }
  &__chevron {
    fill: $blue-main;
    &_open {
      scale: -1;
    }
  }
}

.iconClassname {
  fill: black;
}
