@import 'styles/variables';

.input {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__labelAndTooltip {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__label {
    white-space: nowrap;
    font-weight: 700;
    font-size: 18px;
  }

  &__tooltip {
    color: $blue-main;
  }

  &__input {
    padding: 20px 30px;
    border: 1px solid $gray-main;
    border-radius: 15px;
    max-height: 60px;

    &:focus {
      border-color: $black;
    }
    &::placeholder {
      font-size: 18px;
      color: $gray-main;
    }
  }
}

.size {
  &_15 {
    width: 15%;
    max-width: 15%;
  }

  &_20 {
    width: 20%;
    max-width: 20%;
  }

  &_30 {
    width: 30%;
    max-width: 30%;
  }

  &_50 {
    width: 50%;
    max-width: 50%;
  }

  &_100 {
    width: 100%;
    max-width: 100%;
  }
}
