@import 'styles/variables';

.minMaxWrapper {
  display: flex;
  gap: 10px;
}

.minMaxInput {
  border-radius: 2.5px;
  border-width: 1px;
  width: 60px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  &::placeholder {
    font-size: 10px;
  }
}

.searchInput {
  width: 100%;
  position: relative;
  padding: 10px 15px;
  border: 1px solid $gray-main;
  border-radius: 15px;

  &::placeholder {
    // transform:translate3d(0,-1px,0);
    color: black;
    font-size: 15px;
    font-weight: 400;
  }
}
