@import 'styles/variables';

.wrapper {
  height: 24px;
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.icon {
  fill: currentColor;
}
