@import 'styles/variables';

.select {
  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__trigger {
    color: $black;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem 3rem;
    border: 1px solid $gray-main;
    border-radius: 1.5rem;
    max-height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  &__label {
    font-weight: 700;
    font-size: 1.8rem;
  }
}
.options {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 10%;
  left: 30%;
  right: 0;
  background: white;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid $black;
  overflow-y: auto;
  max-height: 60rem;
  min-width: 40rem;
  max-width: 70rem;
  &.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    box-shadow: -1px 1px 2px rgba(67, 70, 74, 0.0001),
      -2px 2px 5px rgba(67, 86, 100, 0.123689);
  }
}
.optionContainer {
  display: flex;
  flex-direction: column;
}
.option {
  padding: 2.5rem 3rem;
  cursor: pointer;
  transition: all 0.5s;
  color: $black;
  font-size: 1.8rem;
  font-weight: 700;
  &:hover {
    background-color: $bad-white;
  }
  &.selected {
    color: lightcoral;
    background-color: $bad-white;
    cursor: not-allowed;
  }
}
.searchField {
  padding: 2.5rem 3rem;
  border-bottom: 1px solid $gray-main;
}
.arrow {
  position: relative;
  height: 7.72px;
  width: 12.26px;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.5s;
}
.arrow::before {
  left: -2px;
  transform: rotate(-45deg);
  background-color: $black;
}
.arrow::after {
  left: 2px;
  transform: rotate(45deg);
  background-color: $black;
}
.open .arrow::before {
  left: -2px;
  transform: rotate(45deg);
}
.open .arrow::after {
  left: 2px;
  transform: rotate(-45deg);
}

.loaderOptions {
  width: 100%;
  height: 20rem;
  padding: 2rem;
}

.loaderInput {
  position: absolute;
  left: 0;
  z-index: 10;
  border-radius: 1rem;
  width: 100%;
  max-height: 6rem;
}
