@import 'styles/variables';

.textarea {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__labelAndTooltip {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__label {
    white-space: nowrap;
    font-weight: 700;
    font-size: 18px;
  }

  &__tooltip {
    color: $blue-main;
  }

  &__textarea {
    padding: 20px 30px;
    border: 1px solid $gray-main;
    border-radius: 15px;

    &:focus {
      border-color: $black;
    }
    &::placeholder {
      font-size: 18px;
      color: $gray-main;
    }
  }
}
