@import 'styles/variables';

.logo {
  display: flex;
  align-items: center;

  &__logo {
    display: inline-flex;
    position: relative;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
  }
}
