@import 'styles/variables';

.search {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
}
.customSearch {
  margin: 30px 0;
}
.list {
  user-select: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.listTitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.cardAdditionalProduct {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: $bad-white;
  height: 126px;
  min-height: 126px;
  border-radius: 15px;
  padding: 10px;
  color: $black;
  user-select: 'none';
  position: relative;
}
.flexCol {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.marginLeft {
  margin-left: auto;
}

.product {
  &__id {
    font-size: 16px;
  }
  &__img {
    border-radius: 15px;
  }
  &__name {
    color: $blue-main;
    font-size: 18px;
    font-weight: 700;
  }
  &__price {
    font-size: 22px;
    color: $gray-main;
  }
  &__delete {
    cursor: pointer;
  }
}
.grab {
  cursor: move;
}
.iconKnob {
  fill: $gray-black;
}
.dragged {
  background-color: $gray-main;
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
    0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}
