@import 'styles/variables';

.wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: $white;
  background-position: center;
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
