@import 'styles/variables';

.btnProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  width: 50px;
  height: 50px;
  max-height: unset;
  border-radius: 15px;
  background-color: $gray-matt-black;

  &:hover {
    background-color: $red-main;
  }

  @include nsm {
    background-color: $black;

    &:hover {
      background-color: unset;
    }
  }

  @include nsm {
    width: 7.8vw;
    height: 7.8vw;
  }


  &__name {
    color: $white;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
  }
}


.popupProfile {
  padding-top: 15px;
  top: 82%;
  right: 20px;
  position: absolute;
  z-index: 444;
  transition: all 0.2s ease;

  &_close {
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transform: scale(0.8);
  }

  &__popupProfileWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    min-height: 590px;
    border-radius: 15px;
    background-color: $white;
    padding: 15px 20px 25px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 5px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid $bad-white;

    &:last-child {
      border: none;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__link {
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    column-gap: 15px;

    &:hover {
      cursor: pointer;

      .popupProfile__text {
        color: $red-main;
      }

      svg {
        fill: $red-main;
      }
    }
  }

  &__iconWrapper {
    width: 35px;
    height: 35px;

    svg {
      width: 25px;
      height: 25px;
      fill: $gray-matt-black;
    }

    &_logo {
      svg {
        fill: $red-main;
      }
    }
  }

  &__text {
    color: $black;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;

    &_weight {
      width: 100%;

      font-weight: 600;
    }

    &_phone {
      width: 100%;
      margin-bottom: 20px;

      font-size: 12px;
    }

    &_color {
      color: $gray-main;
    }
  }

  &__ballBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    padding: 0 10px 0 5px;
    max-width: 130px;
    height: 30px;
    background-color: $violet;
    border-radius: 8px;
  }

  &__ballQuantity {
    color: $white;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
  }

  &__ballIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    min-height: 20px;

    svg {
      ellipse {
        fill: $white;
      }

      path {
        fill: $violet;
      }
    }
  }
}