@import 'styles/variables';

.wrapper {
  padding: 10px;
}

.modal {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-width: 0;
  height: 100%;
  width: fit-content;
  margin-left: auto;
  background-color: #ffffff;
}

.contentClassName {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(42, 42, 47, 0.6);
  z-index: 60;
}

.header {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.searchAllWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchAll {
  padding: 10px;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  &::placeholder {
    color: black;
  }
}

.deleteFilters {
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  color: $red-main;
  &:active {
    scale: 0.9;
  }
}

.buttonGroup {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
}

.iconGear {
  cursor: pointer;
}
.headerBtns {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.newProductBtn {
}
