.tab-underline {
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  position: relative;
  color: #939393;
  font-weight: bold;
  font-size: 1.5rem;

  &:hover {
    color: #181818;
  }

  &::after{
    content: "";
    transition: all 0.3s ease-in;
    bottom: -2rem;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.6rem;
    opacity: 0;
  }

  &.tab-underline-selected {
    color: #007AFF;
    font-weight: bold;
    font-size: 1.5rem;
  }
  &.tab-underline-selected::after {
    background-color: #007AFF;
    opacity: 1;
  }
}

.tab-panel-system {
  padding: 3rem 2rem;
  row-gap: 5rem;
}

.tab-panel-rent {
  padding: 3rem 2rem;
}
.tab-panel-size {
  padding: 3rem 2rem;
}
