///////////////////////////////////          COLORS

$base-gradient: linear-gradient(90deg, #edc0bf 0, #c4caef 60%);
$reverse-gradient: linear-gradient(90deg, #c4caef 0, #edc0bf 60%);

// Grays
$gray-light: #e0e0e0;
$gray-main: #939393;
$gray-dark: #575757;
$gray-black: #333333;
$gray-matt-black: #383838;

// Blues
$blue-light: #2e90f8;
$blue-main: #007aff;

// Reds
$red-main: #e03638;

// Greens
$green-main: #00ff1a;
$green-light: #25d366;

// Whites
$bad-white: #f1f1f1;
$white: #ffffff;

// Black
$black: #181818;
$totally-black: #000;

///////////////////////////////////          FONT-SIZE

$text-sm: 1rem;
$text-md: 1.2rem;
$text-xl: 1.5rem;
$text-xxl: 2rem;
$text-xxxl: 3rem;

///////////////////////////////////          BREAKPOINTS

$mobile: 769px;
$tablet: 1025px;
$desktop: 1441px;
$nlg: 1239px;

//Mixins //----------PC FIRST
@mixin max_custom($width) {
  @media (max-width: $width) {
    @content;
  }
}
@mixin max_mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
@mixin max_tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin max_desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

/* Yamaguchi mixins */
$nlgx-media: 1699px;
$nlgm-media: 1420px;
$nlg-media: 1240px;
$nlgs-media: 1100px;
$nmd-media: 1023px;
$nsm-media: 767px;
$nxs-media: 450px;
$nxxs-media: 350px;

@mixin nlgx {
  @media all and (max-width: #{$nlgx-media}) {
    @content;
  }
}

@mixin nlgm {
  @media all and (max-width: #{$nlgm-media}) {
    @content;
  }
}

@mixin nlg {
  @media all and (max-width: #{$nlg-media}) {
    @content;
  }
}

@mixin nlgs {
  @media all and (max-width: #{$nlgs-media}) {
    @content;
  }
}

@mixin nmd {
  @media all and (max-width: #{$nmd-media}) {
    @content;
  }
}

@mixin nsm {
  @media all and (max-width: #{$nsm-media}) {
    @content;
  }
}

@mixin nxs {
  @media all and (max-width: #{$nxs-media}) {
    @content;
  }
}

@mixin nxxs {
  @media all and (max-width: #{$nxxs-media}) {
    @content;
  }
}

:export {
  mobile: $mobile;
  tablet: $tablet;
  desktop: $desktop;
}
