@import 'styles/variables';

.companyCredentials{
    padding-top: 100px;
    &__title{
        max-width: 995px;
        font-size: 13px;
        line-height: 1.7;
        font-weight: 300;
        color: #f1f1f1;
        margin-bottom: 40px;
    }
    &__links{
        a{
            font-size: 14px;
            font-weight: 300;
            color: #fff;
            text-decoration: underline;
            margin-right: 40px;
            &:hover{
                color: #e03638;
                text-decoration: none;
            }
        }
    }
    &__bottomBlock{
        display: flex;
        justify-content: space-between;
    }
}